doctype html
html(lang="ru" data-bs-theme="dark")
  head
    title= 'Перевод Священного Корана'
    meta(name='description' content='Сайт, посвященный переводам Священного Корана на русский язык. Читайте Коран, ищете аяты')
    meta(name='keywords' content='Коран, читать коран, коран хронологический порядок, читать коран онлайн, коран на русском, коран чтение')
    meta(name='description' content='Сайт для удобного чтения Корана в хронологическом порядке. Доступны переводы И. Ю. Крачковского, Э. Р. Кулиева.')
    meta(name='keywords' content='Коран, читать коран, коран хронологический порядок, читать коран онлайн, коран на русском, коран чтение')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/favicon/apple-touch-icon.png?v=wAXXEkEEYG')
    link(rel='icon', type='image/png', sizes='32x32', href='/assets/favicon/favicon-32x32.png?v=wAXXEkEEYG')
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/favicon/favicon-16x16.png?v=wAXXEkEEYG')
    link(rel='mask-icon', href='/assets/favicon/safari-pinned-tab.svg?v=wAXXEkEEYG', color='#5bbad5')
    link(rel='shortcut icon', href='/assets/favicon/favicon.ico?v=wAXXEkEEYG')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='msapplication-config', content='/assets/favicon/browserconfig.xml?v=wAXXEkEEYG')
    meta(name='theme-color', content='#ffffff')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7' crossorigin='anonymous')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/main.css')

  body.d-flex.flex-column.justify-content-between.min-vh-100
    nav.navbar.navbar-expand-lg.bg-body-tertiary
      .container-xxl
        a.navbar-brand(href='/')
          i.bi.bi-book-half.pe-2
          span.d-none.d-md-inline.fw-bold Перевод Корана
        .navbar-nav.me-auto.d-none.d-md-flex.flex-row
          a(href='/').nav-link.px-1 Суры
          a(href='/topic').nav-link.px-1 Темы
          a(href='/chronological').nav-link.px-2 Хронология
        .navbar-form
          select.form-select(aria-label='Default select example').js-translation-select.d-flex.ms-auto
            option(value='1') Кулиев Э. Р.
            option(value='2') И.Ю. Крачковский
            option(value='3') Абу Адель
            option(value='4') Османов М. Н. О.
            option(value='5') И. В. Порохова

          form(action="/search").d-flex
            .input-group
              input.form-control(type='search' value=query || '' name="query" placeholder='Поиск аятов' aria-label='Search')
              button.btn.btn-outline-success(type='submit')
                i.bi.bi-search

    main.container.flex-fill
      button.btn.btn-fixed.js-to-top-btn.d-none.btn-dark.btn-sm вверх
      block content

    footer
      nav.navbar.navbar-expand-lg.bg-body-tertiary
        .container-xxl
            ul.navbar-nav.me-auto.flex-row
              li.nav-item.px-2
                a.nav-link(aria-current='page' href='/') Суры
              li.nav-item.px-2
                a.nav-link(href='/topic') Темы
              li.nav-item.px-2
                a.nav-link(href='/chronological') Хронология
            span.navbar-text.ps-2
              small.text-muted=`2017-${currentYear}`
                | &nbsp;| &nbsp;
              a(href='/')
                small readquran.ru &nbsp;
                small=version
    script(src='/javascripts/main.js')
