extends ./layouts/application.pug

block content
  .row.justify-content-md-center
    .col-md-8.col-sm-12
        .mb-4.mt-4.text-center
            h1.mb-0: strong О проекте

  .row
    .col-md-8.col-sm-12.m-auto
      p Сайт создан для чтения и изучения переводов Корана на русский язык.
      p Пользователям доступно пять полных переводов Корана, выполненных авторами: Кулиевым, Крачковским, Абу Аделем, Османовым и Пороховой.
      p Нестрогий поиск позволяет быстро найти нужный аят — достаточно помнить хотя бы одно или несколько слов из него.
      p В разделе «Темы» собраны аяты на различные темы. Сейчас тем немного, но раздел будет пополняться.
      p Дополнительно на сайте представлен альтернативный — хронологический — порядок сур, опубликованный для исследовательских целей. Следует учитывать, что достоверность данной последовательности не подтверждена.
