extends ./layouts/application.pug

block content
  .row.justify-content-md-center
    .col-md-8.col-sm-12
      .text-center.my-5
        h1.fw-bold Перевод Корана на&nbsp;русский&nbsp;язык
        figure.text-center
          blockquote.blockquote
            p Читай! Во имя Господа твоего...
          figcaption.blockquote-footer Сура 96, 1-й аят

        form(action="/search").d-flex.w-50.mx-auto
          .input-group
            input.form-control(type='search' value=query || '' name="query" placeholder='Поиск аятов')
            button.btn.btn-outline-success(type='submit') Найти

  .row
    .col.main-list
      ol.list
        each chapter in chapters || []
          li
            a.p-1.link-body-emphasis(href='/'+chapter.id)!=chapter.name
