extends ./layouts/application.pug

block content
  .row.justify-content-md-center
    .col-md-8.col-sm-12
      .text-center.my-5
        h1.fw-bold Аяты по темам
        p: small В разделе собраны аяты на различные темы. Важно понимать, что каждый аят нужно рассматривать в контексте всего Корана, так как вырывание его из контекста может привести к неверным выводам и ошибочным толкованиям.

  .row
    .col.main-lis
      ol.list
        each topic in topics || []
          li
            a.p-1.link-body-emphasis(href='/topic/'+topic.id)=topic.name
