:root {
  --bs-body-font-size: 1.15rem;
  --bs-body-font-family: 'PT Sans', system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
  hyphens: auto;
}

a {
  text-decoration: none;
}

.main-list {
  margin: auto;
  flex: 0;
}

.main-list ol {
  column-count: 3;
  column-gap: 10vw;
}

.main-list li {
  white-space: nowrap;
  margin-bottom: 8px;
}

mark {
  border-radius: 5px;
  color: #000!important;
  background-color: RGBA(var(--bs-warning-rgb),var(--bs-bg-opacity,1))!important;
}

.verse {
  display: flex;
  gap: 8px;
}

.verse a {
  min-width: 65px;
  background: rgb(209 209 209 / 20%);
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.verse:first-child a {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.verse:last-child a {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.selected {
  border-radius: .25rem;
}

.navbar img {
  position: relative;
  top: -2px;
  filter: grayscale(0.6);
}

.navbar-form {
  display: flex;
  gap: 8px;
  min-width: 0;
  flex: 1;
}

.navbar-form select {
  width: 150px;
}


@media (min-width: 1000px) {
  .main-list ol {
    column-count: 4;

  }
}

@media (min-width: 576px) {
  .container-sm {
    max-width: 644px;
  }
}

@media(max-width:630px) {
  .main-list ol {
    column-count: 2;
  }

  .navbar-form select {
    width: 100px;
  }
}

@media(max-width:420px) {
  .main-list ol {
    column-count: 1;

  }
}
